//
//  Keys.xcconfig
//  Clef Notes
//
//  Created by Greg Holland on 7/27/25.
//

// IMPORTANT: Add this file to your .gitignore to keep your API keys secret.
// You can now delete the old config.swift file.

REVENUECAT_API_KEY = appl_RHKCcjwsJFBvqgxYfNlgbHPKHja
TELEMETRY_DECK_KEY = 5C50C594-FFFE-43C4-914C-592FD2FADC3C
