<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729923248015-b1cjnkkrh3k9n6qu6pfnffh11vgt1cpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729923248015-b1cjnkkrh3k9n6qu6pfnffh11vgt1cpk</string>
	<key>API_KEY</key>
	<string>AIzaSyBDjkVAwtET85LH20juoiIgTSrbyAMKJlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>729923248015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clefnotesapp.CleftNotes-Firebase</string>
	<key>PROJECT_ID</key>
	<string>clefnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>clefnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729923248015:ios:f386fd8e8dc4c2986535fa</string>
</dict>
</plist>